.order {
  margin-top: 2.125rem;
  margin-right: -2.5rem;
  padding: 1.875rem 0 0 2.25rem;
  border-radius: 2.1875rem 0 0 2.1875rem;
  border: 1px solid white;
  background: black linear-gradient(45deg, #080c0f 0%, rgba(39, 39, 39, 0) 100%);

  &__reference {
    font-size: 0.875rem;
    font-weight: 500;
  }
  &__number {
    font-size: 1.125rem;
    font-weight: 600;
  }

  &__destinations {
    margin: 1.875rem 0 1.625rem;
  }
  &__destination {
    position: relative;
    display: flex;
    gap: 1.25rem;
    margin-bottom: 1rem;

    &__button {
      position: absolute;
      inset: 0;
      width: 100%;
    }

    &__decorator {
      position: relative;
      margin-top: 0.75rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;

      &::before {
        content: '';
        position: absolute;
        inset: 1px;
        border-radius: inherit;
      }

      &.active {
        background: var(--color-accent);

        &::before {
          border: 0.1875rem solid black;
          box-shadow: inset 1px 1px 3px 0 #979700;
        }
      }

      &:not(.active) {
        background-color: #11161b;
        box-shadow: 0 2px 4px 0 #000000;

        &::before {
          border: 0.125rem solid #1e2227;
          background-color: #0f1216;
          box-shadow: inset 2px 0 3px 0 #080c0f;
        }
      }
    }

    // line decorator
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 4rem;
      bottom: -20%;
      left: 1.25rem;
      transform: translateX(-50%);
      width: 1px;
      background: linear-gradient(to bottom, #929292 0%, #1d2022 100%);
    }

    &__details {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-right: 1.875rem;
    }
    &:not(:last-child) &__details {
      border-bottom: 1px solid #252525;
    }

    &__status {
      padding: 0.25rem 0.5rem;
      border-radius: 0.625rem;
      background-color: #171a1d;
      margin: 0.5rem 0;
    }
  }
}

.track {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 7.375rem;
  border-radius: 0.375rem;
  border: 1px solid white;
  background: black linear-gradient(45deg, #080c0f 0%, rgba(39, 39, 39, 0) 100%);

  &__driver {
    position: relative;
    z-index: 0;
    margin: auto;
    margin-top: -4.375rem;
    width: 7.5rem;
    height: 7.5rem;
    background-color: #181d22;
    border: 1px solid #1b1f22;
    border-radius: 50%;

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      border-radius: inherit;
      height: 6.75rem;
      width: 6.75rem;
      border: 1px solid #1f2224;
      background-color: #151a1e;
      box-shadow: 0 0 4px 0 #000000;
    }

    img {
      width: 5.75rem;
      height: 5.75rem;
    }
  }

  &__time {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0.75rem 0;
  }

  &__steps {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2.75rem;
    margin: 3rem auto;
    min-width: 20rem;
  }
  &__step {
    position: relative;
    display: flex;
    gap: 1.625rem;
    font-weight: 600;
    color: #5b5b5b;
    z-index: 1;

    &.active {
      color: unset;
    }
  }

  button {
    width: 100%;
    min-height: 3.75rem;
    color: black;
    background: var(--color-accent);
    border-radius: 0.375rem;
    font-size: 1.25rem;
    font-weight: 600;

    &:disabled {
      color: #353636;
      background: linear-gradient(45deg, #080c0f 0%, #131618 100%);
      border-top: inherit;
    }
  }

  &__step__decorator {
    position: relative;
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 50%;

    &.active {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background-color: var(--color-accent);
        box-shadow: inset -2px -2px 4px 0 #c8c800, 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      }

      &::after {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        height: 0.875rem;
        width: 0.5rem;
        transform: rotate(45deg) translate(-40%, -50%);
        transform-origin: top;
        border: 0.125rem solid transparent;
        border-right-color: black;
        border-bottom-color: black;
      }
    }

    &:not(.active) {
      background-color: rgba(216, 216, 216, 0.08);
      display: flex;
      align-items: center;
      justify-content: center;

      &::before,
      &::after {
        content: '';
        position: absolute;
        border-radius: inherit;
      }

      &::before {
        width: 1.125rem;
        height: 1.125rem;
        background-color: rgba(151, 151, 151, 0.2);
      }

      &::after {
        width: 0.625rem;
        height: 0.625rem;
        background-color: #ffffff;
        box-shadow: inset -2px -2px 3px 0 #939393;
      }
    }
  }
  &__step:not(:last-child) &__step__line {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 0.125rem;
    height: 160%;
    z-index: -1;
  }
  &__step:not(:last-child).active &__step__line {
    background: linear-gradient(to bottom, var(--color-accent) 0%, #383a35 80%);
  }
  &__step:not(:last-child, .active) &__step__line {
    background: #383a35;
  }
}

.extra {
  margin-top: 3.125rem;

  &:not([open]) &__open_indicator {
    transform: rotate(180deg);
  }

  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0;
    padding: 1.625rem;
    border-radius: 0.375rem;
    border: 1px solid white;
    background: black linear-gradient(45deg, #080c0f 0%, rgba(85, 85, 85, 0) 100%);
    font-weight: 600;
    list-style: none;
    text-transform: capitalize;

    &::-webkit-details-marker {
      display: none;
    }
  }
}
