.location {
  &__type {
    color: var(--color-text-alt);
    font-size: 0.75em;
    font-weight: 500;
  }
  &__address {
    line-height: 1.2;
    font-weight: 400;

    span {
      font-weight: 600;
    }
  }
}
